<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.parknjet.jetdispatch</key>
        <string>jetdispatch</string>
    </dict>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>method</key>
    <string>app-store</string> <!-- Or "ad-hoc" for testing -->
    <key>teamID</key>
    <string>N349VD8AP6</string>
</dict>
</plist>
